<nav>
  <div class="logo-nav">
    <img src="../src/assets/images/Portada facebook.png" alt="Norioma Academia"
      onclick="location.href='../index.html'" />
  </div>
  <ul class="lista-nav" id="nav-menu">
    <li><a href="../index.html" class="lista-a">Inicio</a></li>
    <li><a href="../pages/ciclos.html" class="lista-a">Ciclos</a></li>
    <li><a href="../pages/docentes.html" class="lista-a">Docentes</a></li>
    <li><a href="../pages/contactanos.html" class="lista-a">Contáctanos</a></li>
    <li><a href="../pages/talleres.html" class="lista-a">Talleres</a></li>
    <li>
      <a href="#" class="lista-a resaltar-nav">Recursos</a>
    </li>
  </ul>

  <div class="nav-toggle" id="nav-toggle">
    <i class="bi bi-list" id="nav-toggle-open"></i>
    <i class="bi bi-x" id="nav-toggle-close"></i>
  </div>
</nav>